<style>
  .content {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 3px solid purple;
  }
  .messages {
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    margin-bottom: auto;
    border: 3px dotted rgb(37, 255, 121)
  }
  .message {
    margin: 10px;
    padding: 5px;
    align-items: center;
  }
  .sender-message {
    border: 2px solid red;
    border-radius: 3px;
    align-self: flex-end;
  }
  .receiver-message {
    border: 2px solid blue;
    border-radius: 3px;
    align-self: flex-start;
  }
  form {
    width: 50%;
    padding: 5px;
    border: 3px solid rgb(81, 255, 0);
    align-items: center;
  }
  input{
    margin-left: .25%;
    margin-right: .25%;
  }
</style>

<main class="main">
  <h1>Eliza Chat</h1>
  <div class="messages">
    <div class="message sender-message" *ngFor="let message of conversation">
      {{message}}
    </div>
  </div>
 <form>
  <input type="text" id="input" name="input" placeholder="Type message here">
  <input type="button" id="submit" name="submit" value= "send" (click)="postMessage()">
</form>
</main>