<style>
  .content {
    width: 50%;
    height: 50%;
    margin: auto;
    overflow: hidden;
    text-align: center;
    border: 3px solid purple;
  }
  .chatbox {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .message {
    margin: 10px;
    padding: 5px;
    align-items: center;
  }
  .sender-message {
    border: 2px solid red;
    border-radius: 3px;
    align-self: flex-end;
  }
  .receiver-message {
    border: 2px solid blue;
    border-radius: 3px;
    align-self: flex-start;
  }
  form {
    padding: 5px;
    border: 3px solid rgb(81, 255, 0);
    align-items: center;
  }
  input{
    margin-left: .25%;
    margin-right: .25%;
  }
</style>

<main class="main">
  <h1>Eliza Chat</h1>
  <div class="content">
    <div class="chatbox">
      <div class="message sender-message">
        Hello!
      </div>
      <div class="message receiver-message">
        What are you doing?
      </div>
      <div class="message sender-message">
        Hello!
      </div>
      <div class="message receiver-message">
        What are you doing?
      </div>
      <div class="message sender-message">
        Hello!
      </div>
      <div class="message receiver-message">
        What are you doing?
      </div>
      <div class="message sender-message">
        Hello!
      </div>
      <div class="message receiver-message">
        What are you doing?
      </div>
      <div class="message sender-message">
        Hello!
      </div>
      <div class="message receiver-message">
        What are you doing?
      </div>
    </div>
    <form>
      <input type="text" id="input" name="input" placeholder="Type message here">
      <input type="button" id="submit" name="submit" value="Send" onclick="sendRequest(input.value)">
    </form>
  </div>
</main>

<router-outlet />
